vscode1/
*.exe
/log

#Date file to be ignored
*.out
*.txt
*.dat
*.vs

#under .vscode
/vscode
*.json
/Proj_virtualClass/.vs
/*.mp4
/Proj_virtualClass/*.gitignore
/Proj_virtualClass/*.sln
/Proj_virtualClass/*.vcxproj
/Proj_virtualClass/*.filters
/Proj_virtualClass/*.user
/.vs/slnx.sqlite
/MyProjtemp1/.vs/MyProjtemp1/v17
/.vs
/MyProjtemp1/.vs
.vs
